######################
# LLM API Key
######################
OPENAI_API_KEY=""
GROQ_API_KEY=""

######################
# Langsmith 로그 추적
######################
LANGCHAIN_TRACING_V2="true"
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_PROJECT="LanChain TUTORIAL"
LANGCHAIN_API_KEY=""