jupyter==1.1.1 # 주피터 노트북
python-dotenv==1.2.1 # 환경 변수 관리

# LangChain 패키지
langchain==1.0.7 # LangChain 메인 패키지
langchain-core==1.0.5 # LangChain 코어 기능
langchain-community==0.4.1 # LangChain 커뮤니티 확장


# 벡터DB 패키지
# PostgreSQL + pgvector
# pgvector 
# psycopg2-binary
langchain-postgres==0.0.16

# Qdrant
# qdrant-client  # Qdrant Python 클라이언트
langchain-qdrant==1.1.0  # LangChain Qdrant 통합

# Milvus
# pymilvus
langchain-milvus==0.3.0
