######################
# WanDB API Key
# https://wandb.ai/authorize
######################
WANDB_API_KEY=""
WANDB_PROJECT="unsloth_fine_tuning"

######################
# Huggingface API Key
# https://huggingface.co/settings/tokens
######################
HF_TOKEN=""