# ==================================================
# Core LLM Libraries
# ==================================================
gguf==0.6.0
transformers==4.57.3
accelerate==1.12.0
datasets==4.3.0
sentencepiece==0.2.1
protobuf==6.33.2
scipy==1.16.3
einops==0.8.1
packaging==24.2
safetensors==0.7.0
hf_transfer==0.1.9

# ==================================================
# Jupyter & UI
# ==================================================
tqdm==4.67.1
python-dotenv==1.1.1
ipykernel==6.29.4
jupyter-client==8.6.1
nbformat==5.10.4

