######################
# WanDB API Key
# https://wandb.ai/authorize
######################
WANDB_API_KEY=""
WANDB_PROJECT="llama_factory_fine_tuning"

######################
# Huggingface API Key
# https://huggingface.co/settings/tokens
######################
HF_TOKEN=""
