torch==2.4.0
torchvision==0.19.0
torchaudio==2.4.0
tensorboard==2.20.0

llamafactory[metrics,bitsandbytes,qwen]==0.9.1
transformers==4.46.1 # 4.48.0
accelerate==1.0.1
datasets==3.1.0
peft==0.12.0
trl==0.9.6
gradio==4.44.1
bitsandbytes==0.44.1
sentencepiece==0.2.0
protobuf==5.28.3
deepspeed==0.18.4   # DeepSpeed 설치 (Multi-GPU 메모리 분산 학습 필수)

pandas==2.2.3
scikit-learn==1.5.2
numpy==1.26.4
scipy==1.13.1
python-dotenv==1.1.1
wandb==0.23.1

ipykernel==6.29.5
ipywidgets==8.1.5
tqdm==4.67.0

einops==0.8.0
safetensors==0.4.5
pyyaml==6.0.2