jupyter==1.1.1              # 주피터 노트북
python-dotenv==1.2.1        # 환경 변수 관리

# LangChain 패키지 (1.x 버전 유지)
langchain==1.0.8                        # LangChain 메인 패키지
langchain-core==1.0.7                     # LangChain 코어 기능
langchain-community==0.4.1                 # LangChain 커뮤니티 확장
langgraph==1.0.3
langsmith==0.4.46

# 모델별 패키지
langchain-ollama==1.0.0                    # Ollama 모델 통합
langchain-openai==1.0.3                   # OpenAI 모델 통합 

# VectorDB 패키지 
psycopg2-binary==2.9.11
langchain-postgres==0.0.16

# Tools 패키지
langchain-tavily==0.2.12 #  AI가 웹 검색을 할 수 있게 해주는 도구













# jupyter==1.1.1
# python-dotenv==1.1.1
# langchain==0.3.26 
# langchain-core==0.3.68
# langchain-community==0.3.27 
# langchain-experimental==0.3.4
# langchain-openai==0.3.8
# langsmith==0.4.14
# chromadb==1.1.0
# tqdm==4.67.1
# langgraph==0.2.61
# langgraph-checkpoint-sqlite==2.0.11
# graphviz==0.20.3
# pillow==10.4.0
# matplotlib==3.10.5
# koreanize-matplotlib==0.1.1
# pandas==2.3.1
# pycryptodome==3.23.0
# tavily-python==0.7.12