######################
# LLM API Key
######################
OPENAI_API_KEY=""


######################
# Langsmith
######################
LANGCHAIN_TRACING_V2="true"
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_PROJECT="LangGraph TUTORIAL"
LANGCHAIN_API_KEY=""
