jupyter==1.1.1 # 주피터 노트북
python-dotenv==1.1.1 # 환경 변수 관리
pandas==2.3.3       # 데이터 분석 패키지

# LangChain 패키지
langchain==0.3.26 # LangChain 메인 패키지
langchain-core==0.3.74 # LangChain 코어 기능
langchain-community==0.3.27 # LangChain 커뮤니티 확장
langchain-experimental==0.3.4 # 새로운 기능을 미리 사용해볼 수 있는 패키지
langsmith==0.4.14 # LangChain 앱 디버깅, 테스트, 모니터링 도구
langgraph==0.2.61 # 복잡한 AI 워크플로우를 그래프로 만드는 도구

# Tools 패키지
tavily-python==0.7.10 #  AI가 웹 검색을 할 수 있게 해주는 도구

# 모델별 패키지
langchain-ollama==0.3.4 # Ollama 모델 통합
langchain-openai==0.3.8 # OpenAI 모델 통합
