jupyter==1.1.1 # 주피터 노트북
python-dotenv==1.1.1 # 환경 변수 관리
pandas==2.3.3       # 데이터 분석 패키지

# LangChain 패키지
langchain==0.3.26 # LangChain 메인 패키지
langchain-core==0.3.74 # LangChain 코어 기능
langchain-community==0.3.27 # LangChain 커뮤니티 확장
langchain-experimental==0.3.4 # 새로운 기능을 미리 사용해볼 수 있는 패키지
langsmith==0.4.14 # LangChain 앱 디버깅, 테스트, 모니터링 도구

# 모델별 패키지
langchain-ollama==0.3.4 # Ollama 모델 통합
langchain-openai==0.3.8 # OpenAI 모델 통합
langchain-huggingface==0.3.1 # Hugging Face 모델 통합
transformers==4.55.0 # Hugging Face 트랜스포머 라이브러리
torch==2.7.1 # PyTorch 딥러닝 프레임워크
sentence-transformers==5.1.1

# 벡터DB 패키지
chromadb==1.1.0
pgvector==0.4.1 
psycopg2-binary==2.9.10
# langchain-postgres
pymilvus==2.6.2
langchain-milvus==0.2.1

# Loader 패키지 
pdfplumber==0.11.4

# 유사도 라이브러리 
scikit-learn==1.7.2

# 평가 패키지
ragas==0.3.5
