######################
# LLM API Key
######################
OPENAI_API_KEY=""
GROQ_API_KEY=""
HF_TOKEN=""


######################
# Langsmith
######################
LANGCHAIN_TRACING_V2="true"
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_PROJECT="Naive RAG TUTORIAL"
LANGCHAIN_API_KEY=""
