######################
# LLM API Key
######################
OPENAI_API_KEY=""

##########################################
# Hugging Face API Token
##########################################
HF_TOKEN=""
