######################
# LLM API Key
######################
OPENAI_API_KEY=""

######################
# Langsmith
######################
LANGCHAIN_TRACING_V2="true"
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_PROJECT="Multi Agents TUTORIAL"
LANGCHAIN_API_KEY=""

######################
# Tools
######################
TAVILY_API_KEY=""
