# 개발 패키지
jupyter==1.1.1
python-dotenv==1.2.1

# LangChain 패키지
langchain==1.1.3
langsmith==0.4.56
langgraph==1.0.4
deepagents==0.3.0 

# 모델별 패키지
langchain-openai==1.1.1

# Tools 패키지
langchain-tavily==0.2.13

# PostgreSQL 패키지
psycopg[binary]==3.3.2

